{% extends 'base.html.twig' %}

{% block title %}Nos Marques{% endblock %}

{% block body %}
    {% include 'includes/FrontNav.html.twig' %}
    {% include 'includes/FrontSubMenu.html.twig' %}
    <section class="BrandsPage">
        <figure class="BrandsTitle">
            <img src="{{ asset('assets/images/choisir-siege-auto.png') }}">
        </figure>
        <div class="BrandsContent">
            <h1> Retrouvez vos marques préferées</h1>
            <p>les marques de puériculture:</p>
        </div>
    </section>

    <section class="BrandsList">
        {% for dataBrands in BrandsController %}
            <div class="brands">
                <a href="{{ path('app_show_brand', {'id': dataBrands.id}) }}">
                    <img src="{{ asset('assets/upload/brands/' ~ dataBrands.image) }}" alt="">
                    <div class="brandsTitle">
                        <p>{{ dataBrands.name }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>

    {% include 'includes/FrontGaranties.html.twig' %}
    {% include 'includes/FrontFooter.html.twig' %}
{% endblock %}