<div class="garanties">
    <div class="card">
        <p>Paiement sécurisé</p>
    </div>
    <div class="card">
        <p>En cas de besoin, nous sommes là!</p>
    </div>
    <div class="card">
        <p>Gratuit en Click&Collect</p>
    </div>
</div>