<footer>
    <ul class="services">
        <p>Service</p>
        <li>Liste de naissance</li>
        <li>Cadeaux de naissance</li>
        <li>Carte cadeaux</li>
    </ul> 
    <ul class="apropos">
        <p>A propos</p>
        <li>BabyLand</li>
        <li>Marques</li>
        <li>Conditions général de ventes</li>
        <li>Conditions d'utilisation</li>
        <li>Mentions légales</li>
        <li>Nous contacter</li>
    </ul>
    <div class="footer_logo">
        <img src="{{ asset('assets/images/logoBabyLand.png') }}" alt="Symfony!"/>
    </div>
    <ul class="reseaux">
        <p>Suivez nous sur les réseaux</p>
        <li>facebook</li>
        <li>instagram</li>
    </ul> 
    <ul class="magasin">
        <p>Notre magasin</p>
        <li>Adresse</li>
        <li>Suivi de commande en ligne</li>
        <li>Click & collecte</li>
    </ul> 
</footer>