<header>
    <nav class="entete">
        <img src="{{ asset('assets/images/logoBabyLand.png') }}" alt ="{{ path('app_welcome') }}"/>
        <ul class="menu">
            <li><a href="/infos_article">Nos articles</a></li>
            <li><a href="/brands">Les marques</a></li>
            <li><a href="">Notre magasin</a></li>
        </ul>
    </nav>
</header>