<section class="WelcomeFigure">
    <figure class="image1">
        <img src="{{ asset('assets/images/imageback1.png') }}">
    </figure>
    <figure class="image2">
        <img src="{{ asset('assets/images/push3.png') }}">
    </figure>
    <figure class="image3">
        <img src="{{ asset('assets/images/push1.png') }}">
    </figure>
</section>