
<nav class="submenu navbar">
    <div class="subnav niv1">
        <button class="accordion"><a href="/categorie">Categories</a></button>
    </div>
    <div class="categories niv1">
        <p>Nos bons plans</p>
        <p>Idées cadeaux</p>
        <p>Liste de Naissance</p>
    </div>
    <div class="connexion niv1">
        <a href="/login">Mon compte</a>
        <a href ="/cart">Panier</a>
    </div>
</nav>
<div class="assurance">
    <p>Paiement 100% sécurisé</p>
    <p>disponible 2h après votre commande*</p>
    <p>Paiement 100% sécurisé</p>
</div>