* {
    margin: 0;
    padding: 0;
}
body {
    background-color:white;
}
figure {
    margin: 0;
}
/*FrontNav*/
.entete {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    height: 150px;
    background-color: #a2dcee8e;
}
.menu {
    margin: 0px;
    display: flex;
    padding: 0px;
}
nav > ul > li {
    list-style-type: none;
    margin-left: 20px;
}
nav > ul > li:hover {
    list-style-type: none;
    margin-left: 20px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.461);
}
nav > ul > li > a {
    text-decoration: none;
    line-height: 30px;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}
.entete > img {
    width: 110px;
    height: 70px;
}
/*FrontSubMenu*/
.submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #9a9dea62;
}
.submenu > .niv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submenu > .niv1 > p {
    margin: 0 15px;
    color: grey;
}
.connexion.niv1 {
    width: 300px;
    display: flex;
}
button.accordion {
    text-align: center;
    margin: 0 3px;
    background-color: rgba(17, 99, 98, 0.454);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    height: auto;
    outline: none;
    transition: 0.4s;
    border: none;
    border-radius: 5px;
}
.accordion:hover {
    background-color: rgba(91, 44, 44, 0.583);
    color: white;
}
.accordion > a {
    text-decoration: none;
    color: white;
    margin: 0 3px;
}
.assurance {
    padding: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #b74949ad;
    color: white;
}
.assurance > p {
    margin: 0 auto;
}
/*FrontSearch*/
.searchItem {
    padding: 20px;
    background-color: #adeee26e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchItem > input {
    width: 40%;
    height: 25px;
}
/*FrontSlider*/
.WelcomeFigure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a9dea62;
    padding: 1%;
}
figure > img {
    width: 450px;
    height: 400px;
} 
/*FrontGaranties*/
.garanties {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.109);
}
.garanties > .card {
    width: 15%;
    min-height: 100%;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    background-color: #b74949ad;
    color: white;
    box-shadow: 1px 1px 4px rgba(214, 200, 200, 0.532);
}
.card > p {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}
/*FrontFooter*/
footer {
    background-color: #a2dcee8e;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 0;
}
.footer_logo {
    padding: 3% 0;
}
footer > ul > p {
    margin: 10px 0;
}
footer > ul > li {
    font-size: 0.9rem;
    list-style-type: none;
}
/*FrontRegisterForm*/
.register {
    background-color: white;
    min-height: 400px;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register1 {
    text-align: center;
    padding: 1% 3%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #44d1b772;
    border-radius: 10px;
    box-shadow: 1px 2px 3px grey;
}
/* pageBrands*/
.BrandsPage {
    position: relative;
}
.BrandsTitle {
    margin: 1% 8%;
}
.BrandsTitle > img {
    height: 250px;
    width: 100%;
}
.BrandsContent {
    position: absolute;
    top: 30%;
    left: 10%;
}
.BrandsContent > h1 {
    font-size: 3.5rem;
}
.BrandsPage, .articleTitle > h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white;
}
.BrandsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 20px 40px;
    background-color:white;
}
.brands {
    margin: 1%;
    padding: 0.8% 2%;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
}
.brands > img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
/* pageWelcome*/
.WelcomeTitle {
    margin: 3% 3%;
}
.ArticlesListWelcome {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 420px;
    padding: 20px;
}
.ArticlesListWelcome > h2 {
    font-family: normal 900 40px/50px Museo,sans-serif;
    text-align: center;
    letter-spacing: .02em;
    width: 100%;
    padding: 0 15px;
    margin: 25px 0;
}
.ArtCards {
    width: 200px;
    height: auto;
    min-height: 250px;
    text-align: center;
    margin: 1%;
    padding: 1%;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
}
.ArtCards > img {
    width: 150px;
    height: 150px;
}
/*page/infos_article*/
.bgTitle {
    margin: 1% 8%;
}
.bgTitle > img {
    height: 250px;
    width: 100%;
}
.articleTitle {
    position: relative;
}
.articleContent {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
.articleContent > h1{
    font-size: 3.5rem;
}
.articleContent > p {
    font-size: 2rem;
}
.ArticleInfos {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100%;
    min-height: 420px;
    padding: 20px;
}
.ListArticle {
    text-align: center;
    display: block;
    width: 250px;
    height: auto;
    min-height: 250px;
    margin: 1%;
    padding: 0.8%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
}
.ListArticle > img {
    width: 200px;
    height: 200px;
}
/*page_login*/
.Allform {
    background-color: white;
    padding: 5% 0;
    min-height: 400px;
}
.page_login {
    text-align: center;
    width: 100%;
}
.form {
    text-align: center;
    margin: 0 auto;
    padding: 1% 3%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #44d1b772;
    border-radius: 10px;
    box-shadow: 1px 2px 3px grey;
}
.form > label input {
    margin: 1% 0;
    width: 50%;
    line-height: 25px;
}
/*pagedetails*/
.details-0 {
    height: auto;
    padding: 2% 2%;
}
.details-1 {
    width: 75%;
    min-height: 400px;
    height: auto;
    margin: 0 auto;
    padding: 1%;
    background-color:#44d1b71d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.details-1_0 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-1_0 > img {
    width: 95%;
    height: 95%;
}
.details-1_0, .details-1_1 {
    width: 45%;
    height: 400px;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.3);
    box-shadow: 1px 1px 3px grey;
}
.details-2, .details-3{
    margin: 5px auto;
    padding: 1%;
    width: 75%;
    min-height: 100px;
    background-color:#44d1b71d;
    border-radius: 10px;
    text-align: center;
}
/*pageCategorie*/
.CategorieTitle {
    position: relative;
    margin: 1% 8%;
}
.CategorieImg > img {
    height: 250px;
    width: 100%;
}
.CategorieT {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
.CategorieT > h1 {
    font-size: 3.5rem;
}
.CategorieT > p {
    font-size: 2rem;
}
.CategorieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    height: auto;
    background-color: white;
}
.CategorieContent > img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.CategorieContent {
    width: auto;
    height: auto;
    margin: 1%;
    box-shadow: 1px 1px 3px gray;
    position: relative;
    border-radius: 5px;
}
.CategorieName {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 1%;
}
.CategorieName > p {
    width: 100%;
    color: white;
    font-size: 1.5rem;
    line-height: 50px;
    background-color: rgba(14, 14, 14, 0.3);
}