{% extends 'base.html.twig' %}

{% block title %}Toutes les categories{% endblock %}

{% block body %}
    {% include 'includes/FrontNav.html.twig' %}
    {% include 'includes/FrontSubMenu.html.twig' %}
        <h1>Voir les categories</h1>
        <section class="CategorieList">
            {% for categorie in CategorieController %}
                <div class="CategorieContent">
                    <img src="{{ asset('assets/upload/products/' ~ categorie.image) }}">
                    <p>{{ categorie.name }}</p>
                </div>
            {% endfor %}
        </section>

    {% include 'includes/FrontGaranties.html.twig' %}
    {% include 'includes/FrontFooter.html.twig' %}
{% endblock %}
